.tours__nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625em;
    padding-block: 0.625em 0;
}

.tours__nav__item::marker {
    content: "";
}

.tours__nav__item_active {
    color: var(--orange-200);
}

.tour__nav__link::after {
    bottom: -3px;
    height: 2px;
}

.tours__nav__item_active .tour__nav__link::after {
    background-color: currentColor;
    width: 100%;
    animation: none;
}

@media screen and (min-width: 768px) {
    .tours__nav {
        gap: 1.5em;
        padding-top: 0.25em;
    }
}