@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './utilities.css';

html {
    scroll-behavior: smooth;
    scroll-padding-block-start: 100px;
}

.body {
    font-size: 16px;
    line-height: 23px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0em;
    background-color: var(--beige-100);
}

.container {
    width: min(calc(1170px + (53px * 2)), 100%);
    padding: 0 21px;
    margin: 0 auto;
}

.link {
    position: relative;
    color: inherit;
}

.link::after {
    position: absolute;
    height: 1px;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.link:hover::after,
.link:focus::after {
    background-color: currentColor;
    animation: link-hover 0.3s ease forwards;
}

.link:active {
    color: var(--green-400);
}

@media screen and (min-width: 768px) {
    .body {
        font-size: 20px;
        line-height: 28px;
    }

    .container {
        padding: 0 53px;
    }
}

@keyframes link-hover {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}