@import './reset.css';
@import './variables.css';
@import './typography.css';
@import './utilities.css';

.body {
    font-size: 16px;
    line-height: 23px;
    font-family: var(--ff), sans-serif;
    letter-spacing: 0em;
    background-color: var(--beige-100);
}

.link {
    position: relative;
    color: inherit;
}

.link::after {
    position: absolute;
    height: 1px;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.link:hover::after,
.link:focus::after {
    background-color: currentColor;
    animation: link-hover 0.3s ease forwards;
}

@media screen and (min-width: 768px) {
    .body {
        font-size: 20px;
        line-height: 28px;
    }
}

@keyframes link-hover {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}