.reviews {
    display: grid;
    justify-content: center;
    gap: 18px;
}

@media screen and (min-width: 768px) {
    .reviews {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1440px) {
    .reviews {
        gap: 30px;
    }
}