.story {
    display: grid;
    align-content: space-between;
    color: var(--white);
    height: 455px;
    padding: 1.875em;
    cursor: pointer;
}

.story__title {
    width: 60%;
}

.story ul {
    padding-left: 1.35em;
}

.story__header {
    display: grid;
    gap: 1.25em;
    max-width: 29em;
}

.story__footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.story___socials {
    display: none;
}

.story .link:active {
    color: var(--orange-200);
}

@media screen and (min-width: 768px) {
    .story {
        height: 567px;
        padding: 3em;
    }

    .story__title {
        width: 100%;
    }
    
    .story__header {
        gap: 1.85em;
    }

    .story___socials {
        display: grid;
        grid-auto-flow: column;
        gap: 35px;
    }
}