.gallery-section .section__header {
    width: min(calc(1170px + (53px * 2)), 100%);
    padding: 0 21px;
    margin: 0 auto;
}

.gallery {
    padding-inline: 1.25rem;
    display: grid;
    justify-items: center;
    gap: 1.125em;
    width: min(1900px, 100%);
    margin: 0 auto;
}

.gallery__img-wrapper {
    position: relative;
    height: 110px;
}

.gallery__img {
    object-fit: cover;
}

.gallery__row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 0.625em;
    width: 100%;
}

.gallery__img_hide-mob {
    display: none;
}

.gallery__img_hide-tab {
    display: none;
}

@media screen and (min-width: 768px) {
    .gallery-section .section__header {
        padding: 0 53px;
    }

    .gallery {
        row-gap: 1.5em;
        column-gap: 1em;
    }

    .gallery__img-wrapper {
        height: 300px;
    }

    .gallery__row {
        gap: 1em;
    }

    .gallery__img_hide-mob {
        display: block;
    }
}


@media (min-width: 1440px) {
    .gallery {
        row-gap: calc(1.5em + 3px);
    }

    .gallery__row {
        gap: 1.5em;
    }

    .gallery__img_hide-tab {
        display: block;
    }
}