.footer {
    background-color: var(--beige-200);
    box-shadow: 0 0 0 100vmax var(--beige-200);
    clip-path: inset(0 -100vmax);
    padding-block: 1.25em;
}

.footer__text {
    text-align: center;
}

.footer__socials {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 15px;
}

.footer__socials__item {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 5px;
}


@media screen and (min-width: 768px) {
    .footer {
        display: grid;
        grid-auto-flow: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-block: 1.5em;
    }

    .footer__socials {
        gap: 30px;
    }

    .footer__socials__item {
        gap: 10px;
    }
}